@font-face {
    src:url("../fonts/Marck_Script.ttf");
    font-family:Marck;
}

a {
    text-decoration:none;
}

#title a{
    color:#EEEEEE;
    font-family:Marck;
    font-size:35px;
}

.contacts, .social{
    float:right; 
}

.contacts {
    margin-top:-61px;
}

.contacts li{
    display:inline;
    text-decoration:none;
}

.contacts h3{
    font-size:25px;
    color: #EEEEEE;
    font-family:Marck;
}

#vk{
	text-indent:-9999px;
	background:url("../Images/Social/vk.png") no-repeat;
	width:25px;
	height:25px;
	display:inline-block;
}

#fb{
	text-indent:-9999px;
	background:url("../Images/Social/fb.png") no-repeat;
	width:25px;
	height:25px;
	display:inline-block;
}

#tw{
	text-indent:-9999px;
	background:url("../Images/Social/tw.png") no-repeat;
	width:25px;
	height:25px;
	display:inline-block;
}

#go{
	text-indent:-9999px;
	background:url("../Images/Social/go.png") no-repeat;
	width:25px;
	height:25px;
	display:inline-block;
}

#insta{
	text-indent:-9999px;
	background:url("../Images/Social/insta.png") no-repeat;
	width:25px;
	height:25px;
	display:inline-block;
}

#ok{
	text-indent:-9999px;
	background:url("../Images/Social/ok.png") no-repeat;
	width:25px;
	height:25px;
	display:inline-block;
}



#vk:hover, #fb:hover, #tw:hover, #go:hover, #ok:hover, #insta:hover, button:hover{
	box-shadow: 0 0 10px 3px #5B75F0;
}

.search {
    background-image: -webkit-linear-gradient(top, #222222, #EEEEEE);
	border-radius:5px 5px 5px 5px;
    height:50px;
    margin-top:55px;
}

.search input{
    margin-top:10px;
    margin-left:10px;
    height:30px;
    width:1085px;
}

.search button {
    width:30px;
    height:30px;
    text-indent:-9999px;
    background:url("../Images/Controls/search2_.png") no-repeat;
}
