@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")

<script>
    $(document).ready(function () {
        $(".btn_hide").click(function ()
        {
            $(".info_hide").slideToggle("slow");
        })
    })
</script>

<div class="row services">

    @{
        int i = 1;
    }

    <h3 id="page_title">Услуги</h3>

    @foreach (Service serv in ViewBag.serviceList)
    {
        <div class="col-md-4 serviceblock">
            <img src="@Url.Content(string.Format("~/Images/Content/Services/{0}.jpg", i))" />
            <h4>
                @Html.DisplayFor(modelItem => serv.s_title)
            </h4>
            
            <div class="info_hide">              
                <h5>Стоимость 1 занятия:
                    @Html.DisplayFor(modelItem => serv.s_price) грн
                </h5>
            </div>
        </div>

        i++;
    }
</div>



