@{
    ViewBag.Title = "Home Page";
}

<link href="~/Content/MainStylePage.css" rel="stylesheet" type="text/css" />

<div class="search">
    <form action="#">
        <input type="search" placeholder="Search..." />
        <button>Search</button>
    </form>
</div>
<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<ul>
    <li>
        <div>
            <a href="#">About us</a>
        </div>
    </li>
    <li>
        <div class="row">
            <a href="#">Services</a>
            <div class="col-md-4 about_us">
                <h2>Аэробика</h2>
                <p>
                    ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
                    enables a clean separation of concerns and gives you full control over markup
                    for enjoyable, agile development.
                </p>
                <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
            </div>
            <div class="col-md-4">
                <h2>Большой теннис</h2>
                <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
                <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
            </div>
            <div class="col-md-4">
                <h2>Пилатес</h2>
                <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
                <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
            </div>
            <div class="col-md-4">
                <h2>Шейпинг</h2>
                <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
                <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
            </div>
            <div class="col-md-4">
                <h2>Самооборона</h2>
                <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
                <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
            </div>
            <div class="col-md-4">
                <h2>Плаванье</h2>
                <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
                <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
            </div>
            <div class="col-md-4">
                <h2>Кроссфит</h2>
                <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
                <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
            </div>
            <div class="col-md-4">
                <h2>Тренажёрный зал</h2>
                <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
                <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
            </div>
            <div class="col-md-4">
                <h2>Борьба</h2>
                <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
                <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
            </div>
        </div>
    </li>
    <li>
        <div>
            <a href="#">Abonement</a>
        </div>
    </li>
    <li>
        <div>
            <a href="#">Coaches</a>
        </div>
    </li>
    <li>
        <div>
            <a href="#">Timetable</a>
        </div>
    </li>
    <li>
        <div>
            <a href="#">Articles</a>
        </div>
    </li>
    <li>
        <div>
            <a href="#">Feedbacks</a>
        </div>
    </li>
</ul>

