
<div class="">

    <h4>Отзывы</h4>

<table>
    <tr>

    </tr>
        @foreach (Feedback fb in ViewBag.listFeedback)
        {
            <tr>
                <td>
                <div>
                    <h4>
                        @Html.DisplayFor(modelItem => fb.f_name)
                    </h4>
                    <h5>
                        @Html.DisplayFor(modelItem => fb.f_message)
                    </h5>
                </div>
            </td>
            </tr>
        }

</table>    
</div>

<div>
    <a class="btn btn-default feedback_btn" href="http://localhost:31785/Feedback/AddFeedback">Оставить отзыв</a>
</div>
