@model IEnumerable<FitnessCenterAspNetMVCApp.TimetableView>


<h3 id="page_title">Расписание</h3>

<table class="table table-bordered">
    <tr>
        <th>Услуга</th>
        <th>Тренер</th>
        <th>Время</th>
        <th>Место</th>
    </tr>

@foreach (TimetableView item in ViewBag.result)
{
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.s_title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.coach)
        </td>
        <td>10:00       
        </td>
        <td>комн. 12
            
        </td>
    </tr>
}
</table>
